<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>系统信息显示</title>
    <script language="javaccript" type="text/javascript" src="${HopeTag.InstallDir}/Scripts/jquery-1.4.4.min.js"></script>
    <script language="javaccript" type="text/javascript" src="${HopeTag.InstallDir}/Scripts/common.js"></script>
</head>
<body>
    <script language="javascript" type="text/javascript">   
#if(!${Message.Succeed})
        alert("${Message.Text}");
        //window.history.back();
#elseif(${Message.TargetUrl} != "")
        alert("${Message.Text}");
        LinkPage("${Message.TargetUrl}");
#else
      alert("${Message.Text}");
      window.history.back();
       //parent.location.reload();
#end
    </script>
</body>
</html>