<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <server>
    <property name="mapping_relative">true</property>
    <property name="mapping_directory">~/App_Data/Mapping/</property>
    <property name="nhibernate_file">nhibernate.xml</property>

    <property name="template_relative">true</property>
    <property name="template_root">~/App_Data/Template/Manage/Default/</property>
    <property name="manage_template_root">Manage/Default</property>
    <property name="tag_template_root">tag_template_root</property>
        
    <property name="validate_mode">0</property>
    <property name="validate_length">6</property>
        
    <property name="admin_directory">Manage</property>
  </server>
  
  <nhibernate-mapping name="nhibernate.xml">
    <property>Common_Field.xml</property>
    <property>Common_Model.xml</property>
    <property>Org_Group.xml</property>
    <property>Org_User.xml</property>
    <property>Sys_Admin.xml</property>
    <property>Sys_Function.xml</property>
    <property>Sys_Log.xml</property>
    <property>Sys_Module.xml</property>
    <property>Sys_Permission.xml</property>
    <property>Sys_Role.xml</property>
    <property>Sys_Tag.xml</property>
    <property>Task_Task.xml</property>
    <property>Task_Task_Handler.xml</property>
    <property>Task_TaskType.xml</property>
    <property>Dev_Device.xml</property>
    <property>Dev_Reservation.xml</property>
  </nhibernate-mapping>
  
  <content-type>
      <property name="*">application/octet-stream</property>
      <property name="001">application/x-001</property>
      <property name="301">application/x-301</property>
      <property name="323">text/h323</property>
      <property name="906">application/x-906</property>
      <property name="907">drawing/907</property>
      <property name="a11">application/x-a11</property>
      <property name="acp">audio/x-mei-aac</property>
      <property name="ai">application/postscript</property>
      <property name="aif">audio/aiff</property>
      <property name="aifc">audio/aiff</property>
      <property name="aiff">audio/aiff</property>
      <property name="anv">application/x-anv</property>
      <property name="asa">text/asa</property>
      <property name="asf">video/x-ms-asf</property>
      <property name="asp">text/asp</property>
      <property name="asx">video/x-ms-asf</property>
      <property name="au">audio/basic</property>
      <property name="avi">video/avi</property>
      <property name="awf">application/vnd.adobe.workflow</property>
      <property name="biz">text/xml</property>
      <property name="bmp">application/x-bmp</property>
      <property name="bot">application/x-bot</property>
      <property name="c4t">application/x-c4t</property>
      <property name="c90">application/x-c90</property>
      <property name="cal">application/x-cals</property>
      <property name="cat">application/vnd.ms-pki.seccat</property>
      <property name="cdf">application/x-netcdf</property>
      <property name="cdr">application/x-cdr</property>
      <property name="cel">application/x-cel</property>
      <property name="cer">application/x-x509-ca-cert</property>
      <property name="cg4">application/x-g4</property>
      <property name="cgm">application/x-cgm</property>
      <property name="cit">application/x-cit</property>
      <property name="class">java/*</property>
      <property name="cml">text/xml</property>
      <property name="cmp">application/x-cmp</property>
      <property name="cmx">application/x-cmx</property>
      <property name="cot">application/x-cot</property>
      <property name="crl">application/pkix-crl</property>
      <property name="crt">application/x-x509-ca-cert</property>
      <property name="csi">application/x-csi</property>
      <property name="css">text/css</property>
      <property name="cut">application/x-cut</property>
      <property name="dbf">application/x-dbf</property>
      <property name="dbm">application/x-dbm</property>
      <property name="dbx">application/x-dbx</property>
      <property name="dcd">text/xml</property>
      <property name="dcx">application/x-dcx</property>
      <property name="der">application/x-x509-ca-cert</property>
      <property name="dgn">application/x-dgn</property>
      <property name="dib">application/x-dib</property>
      <property name="dll">application/x-msdownload</property>
      <property name="doc">application/msword</property>
      <property name="dot">application/msword</property>
      <property name="drw">application/x-drw</property>
      <property name="dtd">text/xml</property>
      <property name="dwf">Model/vnd.dwf</property>
      <property name="dwf">application/x-dwf</property>
      <property name="dwg">application/x-dwg</property>
      <property name="dxb">application/x-dxb</property>
      <property name="dxf">application/x-dxf</property>
      <property name="edn">application/vnd.adobe.edn</property>
      <property name="emf">application/x-emf</property>
      <property name="eml">message/rfc822</property>
      <property name="ent">text/xml</property>
      <property name="epi">application/x-epi</property>
      <property name="eps">application/x-ps</property>
      <property name="eps">application/postscript</property>
      <property name="etd">application/x-ebx</property>
      <property name="exe">application/x-msdownload</property>
      <property name="fax">image/fax</property>
      <property name="fdf">application/vnd.fdf</property>
      <property name="fif">application/fractals</property>
      <property name="fo">text/xml</property>
      <property name="frm">application/x-frm</property>
      <property name="g4">application/x-g4</property>
      <property name="gbr">application/x-gbr</property>
      <property name="gcd">application/x-gcd</property>
      <property name="gif">image/gif</property>
      <property name="gl2">application/x-gl2</property>
      <property name="gp4">application/x-gp4</property>
      <property name="hgl">application/x-hgl</property>
      <property name="hmr">application/x-hmr</property>
      <property name="hpg">application/x-hpgl</property>
      <property name="hpl">application/x-hpl</property>
      <property name="hqx">application/mac-binhex40</property>
      <property name="hrf">application/x-hrf</property>
      <property name="hta">application/hta</property>
      <property name="htc">text/x-component</property>
      <property name="htm">text/html</property>
      <property name="html">text/html</property>
      <property name="htt">text/webviewhtml</property>
      <property name="htx">text/html</property>
      <property name="icb">application/x-icb</property>
      <property name="ico">image/x-icon</property>
      <property name="iff">application/x-iff</property>
      <property name="ig4">application/x-g4</property>
      <property name="igs">application/x-igs</property>
      <property name="iii">application/x-iphone</property>
      <property name="img">application/x-img</property>
      <property name="ins">application/x-internet-signup</property>
      <property name="isp">application/x-internet-signup</property>
      <property name="ivf">video/x-ivf</property>
      <property name="java">java/*</property>
      <property name="jfif">image/jpeg</property>
      <property name="jpe">image/jpeg</property>
      <property name="jpeg">image/jpeg</property>
      <property name="jpg">image/jpeg</property>
      <property name="js">application/x-javascript</property>
      <property name="jsp">text/html</property>
      <property name="la1">audio/x-liquid-file</property>
      <property name="lar">application/x-laplayer-reg</property>
      <property name="latex">application/x-latex</property>
      <property name="lavs">audio/x-liquid-secure</property>
      <property name="lbm">application/x-lbm</property>
      <property name="lmsff">audio/x-la-lms</property>
      <property name="ls">application/x-javascript</property>
      <property name="ltr">application/x-ltr</property>
      <property name="m1v">video/x-mpeg</property>
      <property name="m2v">video/x-mpeg</property>
      <property name="m3u">audio/mpegurl</property>
      <property name="m4e">video/mpeg4</property>
      <property name="mac">application/x-mac</property>
      <property name="man">application/x-troff-man</property>
      <property name="math">text/xml</property>
      <property name="mdb">application/msaccess</property>
      <property name="mdb">application/x-mdb</property>
      <property name="mfp">application/x-shockwave-flash</property>
      <property name="mht">message/rfc822</property>
      <property name="mhtml">message/rfc822</property>
      <property name="mi">application/x-mi</property>
      <property name="mid">audio/mid</property>
      <property name="midi">audio/mid</property>
      <property name="mil">application/x-mil</property>
      <property name="mml">text/xml</property>
      <property name="mnd">audio/x-musicnet-download</property>
      <property name="mns">audio/x-musicnet-stream</property>
      <property name="mocha">application/x-javascript</property>
      <property name="movie">video/x-sgi-movie</property>
      <property name="mp1">audio/mp1</property>
      <property name="mp2">audio/mp2</property>
      <property name="mp2v">video/mpeg</property>
      <property name="mp3">audio/mp3</property>
      <property name="mp4">video/mpeg4</property>
      <property name="mpa">video/x-mpg</property>
      <property name="mpd">application/vnd.ms-project</property>
      <property name="mpe">video/x-mpeg</property>
      <property name="mpeg">video/mpg</property>
      <property name="mpg">video/mpg</property>
      <property name="mpga">audio/rn-mpeg</property>
      <property name="mpp">application/vnd.ms-project</property>
      <property name="mps">video/x-mpeg</property>
      <property name="mpt">application/vnd.ms-project</property>
      <property name="mpv">video/mpg</property>
      <property name="mpv2">video/mpeg</property>
      <property name="mpw">application/vnd.ms-project</property>
      <property name="mpx">application/vnd.ms-project</property>
      <property name="mtx">text/xml</property>
      <property name="mxp">application/x-mmxp</property>
      <property name="net">image/pnetvue</property>
      <property name="nrf">application/x-nrf</property>
      <property name="nws">message/rfc822</property>
      <property name="odc">text/x-ms-odc</property>
      <property name="out">application/x-out</property>
      <property name="p10">application/pkcs10</property>
      <property name="p12">application/x-pkcs12</property>
      <property name="p7b">application/x-pkcs7-certificates</property>
      <property name="p7c">application/pkcs7-mime</property>
      <property name="p7m">application/pkcs7-mime</property>
      <property name="p7r">application/x-pkcs7-certreqresp</property>
      <property name="p7s">application/pkcs7-signature</property>
      <property name="pc5">application/x-pc5</property>
      <property name="pci">application/x-pci</property>
      <property name="pcl">application/x-pcl</property>
      <property name="pcx">application/x-pcx</property>
      <property name="pdf">application/pdf</property>
      <property name="pdx">application/vnd.adobe.pdx</property>
      <property name="pfx">application/x-pkcs12</property>
      <property name="pgl">application/x-pgl</property>
      <property name="pic">application/x-pic</property>
      <property name="pko">application/vnd.ms-pki.pko</property>
      <property name="pl">application/x-perl</property>
      <property name="plg">text/html</property>
      <property name="pls">audio/scpls</property>
      <property name="plt">application/x-plt</property>
      <property name="png">image/png</property>
      <property name="pot">application/vnd.ms-powerpoint</property>
      <property name="ppa">application/vnd.ms-powerpoint</property>
      <property name="ppm">application/x-ppm</property>
      <property name="pps">application/vnd.ms-powerpoint</property>
      <property name="ppt">application/vnd.ms-powerpoint</property>
      <property name="ppt">application/x-ppt</property>
      <property name="pr">application/x-pr</property>
      <property name="prf">application/pics-rules</property>
      <property name="prn">application/x-prn</property>
      <property name="prt">application/x-prt</property>
      <property name="ps">application/x-ps</property>
      <property name="ps">application/postscript</property>
      <property name="ptn">application/x-ptn</property>
      <property name="pwz">application/vnd.ms-powerpoint</property>
      <property name="r3t">text/vnd.rn-realtext3d</property>
      <property name="ra">audio/vnd.rn-realaudio</property>
      <property name="ram">audio/x-pn-realaudio</property>
      <property name="ras">application/x-ras</property>
      <property name="rat">application/rat-file</property>
      <property name="rdf">text/xml</property>
      <property name="rec">application/vnd.rn-recording</property>
      <property name="red">application/x-red</property>
      <property name="rgb">application/x-rgb</property>
      <property name="rjs">application/vnd.rn-realsystem-rjs</property>
      <property name="rjt">application/vnd.rn-realsystem-rjt</property>
      <property name="rlc">application/x-rlc</property>
      <property name="rle">application/x-rle</property>
      <property name="rm">application/vnd.rn-realmedia</property>
      <property name="rmf">application/vnd.adobe.rmf</property>
      <property name="rmi">audio/mid</property>
      <property name="rmj">application/vnd.rn-realsystem-rmj</property>
      <property name="rmm">audio/x-pn-realaudio</property>
      <property name="rmp">application/vnd.rn-rn_music_package</property>
      <property name="rms">application/vnd.rn-realmedia-secure</property>
      <property name="rmvb">application/vnd.rn-realmedia-vbr</property>
      <property name="rmx">application/vnd.rn-realsystem-rmx</property>
      <property name="rnx">application/vnd.rn-realplayer</property>
      <property name="rp">image/vnd.rn-realpix</property>
      <property name="rpm">audio/x-pn-realaudio-plugin</property>
      <property name="rsml">application/vnd.rn-rsml</property>
      <property name="rt">text/vnd.rn-realtext</property>
      <property name="rtf">application/msword</property>
      <property name="rtf">application/x-rtf</property>
      <property name="rv">video/vnd.rn-realvideo</property>
      <property name="sam">application/x-sam</property>
      <property name="sat">application/x-sat</property>
      <property name="sdp">application/sdp</property>
      <property name="sdw">application/x-sdw</property>
      <property name="sit">application/x-stuffit</property>
      <property name="slb">application/x-slb</property>
      <property name="sld">application/x-sld</property>
      <property name="slk">drawing/x-slk</property>
      <property name="smi">application/smil</property>
      <property name="smil">application/smil</property>
      <property name="smk">application/x-smk</property>
      <property name="snd">audio/basic</property>
      <property name="sol">text/plain</property>
      <property name="sor">text/plain</property>
      <property name="spc">application/x-pkcs7-certificates</property>
      <property name="spl">application/futuresplash</property>
      <property name="spp">text/xml</property>
      <property name="ssm">application/streamingmedia</property>
      <property name="sst">application/vnd.ms-pki.certstore</property>
      <property name="stl">application/vnd.ms-pki.stl</property>
      <property name="stm">text/html</property>
      <property name="sty">application/x-sty</property>
      <property name="svg">text/xml</property>
      <property name="swf">application/x-shockwave-flash</property>
      <property name="tdf">application/x-tdf</property>
      <property name="tg4">application/x-tg4</property>
      <property name="tga">application/x-tga</property>
      <property name="tif">image/tiff</property>
      <property name="tif">application/x-tif</property>
      <property name="tiff">image/tiff</property>
      <property name="tld">text/xml</property>
      <property name="top">drawing/x-top</property>
      <property name="torrent">application/x-bittorrent</property>
      <property name="tsd">text/xml</property>
      <property name="txt">text/plain</property>
      <property name="uin">application/x-icq</property>
      <property name="uls">text/iuls</property>
      <property name="vcf">text/x-vcard</property>
      <property name="vda">application/x-vda</property>
      <property name="vdx">application/vnd.visio</property>
      <property name="vml">text/xml</property>
      <property name="vpg">application/x-vpeg005</property>
      <property name="vsd">application/vnd.visio</property>
      <property name="vsd">application/x-vsd</property>
      <property name="vss">application/vnd.visio</property>
      <property name="vst">application/vnd.visio</property>
      <property name="vst">application/x-vst</property>
      <property name="vsw">application/vnd.visio</property>
      <property name="vsx">application/vnd.visio</property>
      <property name="vtx">application/vnd.visio</property>
      <property name="vxml">text/xml</property>
      <property name="wav">audio/wav</property>
      <property name="wax">audio/x-ms-wax</property>
      <property name="wb1">application/x-wb1</property>
      <property name="wb2">application/x-wb2</property>
      <property name="wb3">application/x-wb3</property>
      <property name="wbmp">image/vnd.wap.wbmp</property>
      <property name="wiz">application/msword</property>
      <property name="wk3">application/x-wk3</property>
      <property name="wk4">application/x-wk4</property>
      <property name="wkq">application/x-wkq</property>
      <property name="wks">application/x-wks</property>
      <property name="wm">video/x-ms-wm</property>
      <property name="wma">audio/x-ms-wma</property>
      <property name="wmd">application/x-ms-wmd</property>
      <property name="wmf">application/x-wmf</property>
      <property name="wml">text/vnd.wap.wml</property>
      <property name="wmv">video/x-ms-wmv</property>
      <property name="wmx">video/x-ms-wmx</property>
      <property name="wmz">application/x-ms-wmz</property>
      <property name="wp6">application/x-wp6</property>
      <property name="wpd">application/x-wpd</property>
      <property name="wpg">application/x-wpg</property>
      <property name="wpl">application/vnd.ms-wpl</property>
      <property name="wq1">application/x-wq1</property>
      <property name="wr1">application/x-wr1</property>
      <property name="wri">application/x-wri</property>
      <property name="wrk">application/x-wrk</property>
      <property name="ws">application/x-ws</property>
      <property name="ws2">application/x-ws</property>
      <property name="wsc">text/scriptlet</property>
      <property name="wsdl">text/xml</property>
      <property name="wvx">video/x-ms-wvx</property>
      <property name="xdp">application/vnd.adobe.xdp</property>
      <property name="xdr">text/xml</property>
      <property name="xfd">application/vnd.adobe.xfd</property>
      <property name="xfdf">application/vnd.adobe.xfdf</property>
      <property name="xhtml">text/html</property>
      <property name="xls">application/vnd.ms-excel</property>
      <property name="xls">application/x-xls</property>
      <property name="xlw">application/x-xlw</property>
      <property name="xml">text/xml</property>
      <property name="xpl">audio/scpls</property>
      <property name="xq">text/xml</property>
      <property name="xql">text/xml</property>
      <property name="xquery">text/xml</property>
      <property name="xsd">text/xml</property>
      <property name="xsl">text/xml</property>
      <property name="xslt">text/xml</property>
      <property name="xwd">application/x-xwd</property>
      <property name="x_b">application/x-x_b</property>
      <property name="x_t">application/x-x_t</property>
      <property name="zip">application/zip</property>
  </content-type>
</configuration>